@import "tailwindcss";

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

.editor, .preview {
  width: 50%;
  padding: 16px;
  overflow-y: auto;
  box-sizing: border-box;
}

.editor {
  border-right: 1px solid #333;
}

.preview {
  background-color: #282c34;
}
.cm-gutters {
  display: none !important;
}

.markdown-body input[type="checkbox"] {
  margin: 0 0.35em 0.25em 0;
  vertical-align: middle;
  transform: scale(1.1);
}
