@import "tailwindcss";

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}

.container {
  display: flex;
  height: 100vh;
}

.editor, .preview {
  width: 50%;
  padding: 16px;
  overflow-y: auto;
  box-sizing: border-box;
}

.editor {
  border-right: 1px solid #333;
}

.preview {
  background-color: #282c34;
}
.cm-gutters {
  display: none !important;
}

.markdown-body input[type="checkbox"] {
  margin: 0 0.35em 0.25em 0;
  vertical-align: middle;
  transform: scale(1.1);
}
.markdown-body ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  color: #e5e7eb; /* Tailwind's gray-200 */
  font-size: 1rem;
  line-height: 1.6;
}

.markdown-body ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  color: #e5e7eb;
  font-size: 1rem;
  line-height: 1.6;
}

.markdown-body li {
  margin-bottom: 0.5rem;
}

.markdown-alert {
    padding: 1em;
    border-left: 0.25rem solid;
    padding-bottom: 0px;
    padding-top: 0px;
    border-color: var(--border-color);
}

.markdown-alert > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--border-color);
}

.markdown-alert .markdown-alert-icon {
    margin-right: 0.5em;
    fill: var(--border-color);
}

.markdown-alert.note {
    --border-color: #539BF5;
}

.markdown-alert.warning {
    --border-color: #C69026;
}

.markdown-alert.important {
    --border-color: #986EE2;
}

.markdown-alert.caution {
    --border-color: #E5534B;
}

.markdown-alert.tip {
    --border-color: #57AB5A;
}
